<!DOCTYPE html>
<html>

<head>
    <title>Lydia Wang</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is a description.">
  </head>
  
  <body>
    <div class="masthead">
      <div class="masthead__inner-wrap">
        <div class="masthead__menu">
          <nav id="site-nav" class="greedy-nav"> 
            <ul class="visible-links">
              <li class="masthead__menu-item masthead__menu-item--lg">
                <a href="https://google.com/">
                  "Your Name / Site Title"
                </a>
              </li>
              <li class="masthead__menu-item">
                <a href="https://google.com/">
                  Publications
                </a>
              </li>
              <li class="masthead__menu-item">
                <a href="https://google.com/">
                  Talks
                </a>
              </li>
              <li class="masthead__menu-item">
                <a href="https://google.com/">
                  Teaching
                </a>
              </li>
              <li class="masthead__menu-item">
                <a href="https://google.com/">
                  Portfolio
                </a>
              </li>
               <li class="masthead__menu-item">
                <a href="https://google.com/">
                  CV
                </a>
               </li>
             </ul>
           </nav>
         </div>
          ::after
       </div>
     </div>
     
     <div id="main" role="main">
        <div class="sidebar sticky">
          <div itemscope="">
             <div class="author__avatar"> 
                <img src="https://some.png" class="author__avatar" alt="Your Sidebar Name">
             </div>
             <div class="author__content">
                <h3 class="author__name">
                  Your Sidebar Name
                </h3>
                <p class="author__bio">
                  Bio for the sidebar
                </p>
             </div>
             <div class="author__urls-wrapper"> 
              <ul class="author__urls social-icons">
                <li>
                  "Location"
                </li>
                <li>
                  <a href="https://twitter.com/cocacola">
                    "Twitter"
                  </a>
                </li>
                <li>
                  <a href="https://google.com/">
                    "Github
                  </a>
                </li>
              </ul>
             </div>
           </div>
          </div>
        <article class="page" itemscope>
          "Some text cuz yolo."
        </article>
  
  
    </body>
  </html>
  
