<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/res">Research</a></li>
	        		<li><a href="/texp">Teaching Experience</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/outreach">Outreach</a></li>
				<li><a href="/contact">Contact me</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lydwang@stanford.edu">email</a></li>
	        		<li><a href="https://github.com/lydwang">github.com/lydwang</a></li>
				</ul>
			</footer>
		</body>
	</html>
